/* ==========================================================================
   #SECTION
   ========================================================================== */

.o-section {
  display: inline-block;
  padding: $spacing-unit-large 0;
  width: 100%;
}
